body {
    margin: 0;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #023135;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
/* Container */
.container {
    
    width: 100%;
    max-width: 1070px;
    padding: 0 15px;
    margin: 0 auto;
    
}
/* Header */
.header {
    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.header__inner {
    padding-top: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    flex-direction: column;
}
/* Nav */
.nav {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.nav__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 48px;
    
    color: #023135;
    text-decoration: none;
    letter-spacing: 0.17px;
    
    /* padding: 2px 5px; */
}
.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;
    background-color : #023135;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}
.nav__link:hover:after {
    opacity: 1;
}
.nav__link:first-child {
    margin-left: 0;
}
/* Intro */
.intro {   
    position: relative;
    margin-bottom: 40px;
    
    max-height: 615px;
    padding-top: 98px;
    background: #f8eadc url("images/intro-bg.jpg")  center no-repeat;
    background-size: cover;
    overflow: hidden;
}
.intro__content {   
    
    display: flex;
    max-height: 517px;   
}
.intro__info {
    width: 52%; 
    margin: 0 41px 99px 0;
    /* display: flex;
    flex-direction: column; */
    max-width: 542px;
    
}
.intro__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 1.28;
    color: #32404D;
    margin: 37px 11px 21px 0;
}
.intro__text {
    margin-bottom: 60px;
    font-size: 16px;
    color: #023135;
    line-height: 1.5;
}
.intro__photo {
    position: relative;  
    /* display: block; */
    padding-top: 1px;
    width: 43%;
}
.intro__img {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 447px;
    max-height: 100%;
    height: auto;
    right: 0;
    bottom: 0;
}
/* Button */
.btn {
    display: block;
    
    max-width: 200px;
    padding: 18px 37px;
    background: #007A5C;
    border-radius: 30px;
    border: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    text-align: center;
    outline: 0;
    cursor: pointer;
    color: #FFFFFF;

    transition: background-color .2s linear;
}
.btn--wide {
    height: 44px;
    width: 100%;
    max-width: 297px;
    padding: 10px 86px;
    font-weight: 400;
    
}
.btn--sm {
    margin-right: 18px;
    height: 36px;
    padding: 8px 21px 7px 15px;
    background-color: #fff;
    color: #007A5C;
    border: 1px solid #007A5C;
    border-radius: 24px;
    font-size: 14px;
    line-height: 1.25;
    transition: background-color .2s linear, color .2s linear;
}
.btn--sm:last-child {
    margin-right: 0;
}
.btn--sm:hover {
    color: #fff;
    background-color: #007A5C;
}
.btn:hover {
    background-color: #01664d;
}
/* It works */
.itworks__header {
    margin-bottom: 65px;
}
.itworks__small-title {
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.67px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1;
    color: #637381;
}
.itworks__nav {
    display: flex;
    flex-wrap: wrap;
}
.itworks__content-title {
    padding: 29px 59px 0;
    margin-bottom: 84px;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0.2px;
    line-height: 45px; 
    color: #023135;
}
.itworks__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.itworks__content-main {
    max-width: 964px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}
/* itworks content main */
.itworks__col-right {
    width: 100%;
    max-width: 260px;
    margin-left: -22px;
    z-index: 5;
}
.itworks__block {
    width: 100%;
    max-width: 260px;
    border: 1px solid #EBF4FF;
    background: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(222, 234, 249, 0.59);
    border-radius: 24px;
    
}
.itworks__block--1 {

    max-height: 193px;
    position: relative; 
    margin-bottom: 189px;
}
.itworks__block--1:after {
    content: url("images/arrow-1.svg");
    display: block;
    position: absolute;
    width: 130px;
    height: 77px;
    left: 54.23%;
    right: -4.23%;
    top: 205px;
}
.itworks__block--2 {
    width: 100%;
    margin-top: 128px;
    max-height: 169px;
    position: relative;   
}
.itworks__block--2:after {
    content: url("images/arrow-2.svg");
    position: absolute;
    display: block;
    height: 70px;
    left: 2.69%;
    right: 43.46%;
    top: 186px;
}
.itworks__block--3 {
    max-height: 169px;
    position: relative;
    margin-left: 22px;   
}
.itworks__block--3:after {
    content: url("images/arrow-3.svg");
    position: absolute;
    width: 98px;
    height: 42px;
    left: 61.92%;
    right: 0.38%;
    top: 191px;
}
.itworks__block-num {
    width: 36px;
    height: 36px;
    background: #32404D;
    border-radius: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px auto 24px; 
}
.itwroks__block-text1 {
    margin: 0 21px 45px 22px;
    text-align: center;
    color: #023135;
    line-height: 24px;
    letter-spacing: 0.15px;
}
.itwroks__block-text2 {
    text-align: center;
    margin: 0 39px 21px;
    line-height: 24px
}
.itworks__block-text3 {
    text-align: center;
    margin: 0 29px 21px 30px;
    line-height: 24px
}
/* device */
.device {
    width: 100%;
    max-width: 449px;
    margin-left: 17px;
    margin-top: 18px;
    position: relative;
}
.device__photo {
    display: block;
    max-width: 100%;
    height: auto;
}
.device__photo--screen {
    
    width: 67%;
    max-width: 302px;
    height: auto;
    position: absolute;
    top: 10.84%;
    right: 18.2%; 
    
    z-index: 2;
}
.device__photo--typing {
    width: 100%;
    max-width: 53px;
    height: auto;
    position: absolute;
    top: 36.1%;
    right: 20.4%;
    /* z-index: 2; */
}
/* Itworks footer */
.itworks__footer {
    width: 100%;
    margin: 0 auto;
}
.itworks__footer-title {
    text-align: center;
    margin-top: 25px;
}
.itworks__footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px auto 100px;
    padding: 0 69.5px;
    justify-content: space-between;
}
.itworks__footer-block {
    width: 100%;
    max-width: 247px;
    text-align: center;
}
.itworks__footer-photo {
    margin-bottom: 20px;
}
.itworks__footer-title {
    margin: 0;
    font-size: 20px;
    line-height: 28px;   
    letter-spacing: 0.15px;
    color: #023135;
}
.itworks__footer-text {
    
    font-size: 9px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #000000;
    text-align: center;
}
/* Section */
.section {
    position: relative; 
    width: 100%;
    display: flex;
    justify-content: center;
    
    height: 787px;
    background: linear-gradient(180deg, #F9FAFD 0%, #F1F3F9 100%);
    overflow: hidden;
}
.section__img-top {
    width: 100%;
    max-width: 501px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.section__img-bottom {
    width: 100%;
    max-width: 897px;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;  
    z-index: 1; 
}
.section__content {  
    width: 100%;
    max-width: 1070px;
    padding: 0 15px;
    
    position: absolute;
    
    text-align: center;
    z-index: 10;
}
.section__title {
    margin: 57px auto 7px;
    font-size: 32px;
    line-height: 44px;

    text-align: center;
    letter-spacing: 0.2px;

    color: #023135;
}
.section__subtitle {
    margin: 0 69px 45px;
    display: flex;
    justify-content: space-between;
    
}
.section__subtitle-text {
    font-size: 32px;
    line-height: 44px;
    
    letter-spacing: 0.2px;
    color: #023135;
}
.check__mark-content {
    margin: 0 161px; 
    display: flex;
    flex-wrap: wrap;
}
.check__mark-item {
    margin-top: 8px;
    width: 50%;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #023135;
}
.check__mark-img { 
    margin-right: 18px;
    width: 16px;
}
/* Benefits */
.benefits__content {
    margin: 99px 66px 100px 70px;
}
.benefits__content-title {
    padding: 0 10px;
    text-align: center;
    margin-bottom: 13px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.2px;
    color: #023135;
}
.benefits__content-link {
    padding-right: 30px;
    color: #007A5C;
    text-decoration: none;
}
.benefits__content-link:hover {
    text-decoration: underline;
}
.benefits__content-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #909EAB;
    text-align: center;
    margin-bottom: 48px;
}
.benefits__video {
    display: flex;
    justify-content: space-between;
}
.benefits__video-block {
    width: 27.4%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #023135;
}
.benefits__video {
    margin-top: 20px;
    position: relative;
}
.benefits__video-img {
    display: block;
    width: 100%;
    height: auto;
}
.benefits__video-play {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 48px;
    height: 48px;
    background: #007A5C;
    top: 35.3%;
    left: 41.9%;
    z-index: 5;
}
.benefits__video-play:hover {
    cursor: pointer;
}
.play-btn {
    width: 100%;
    max-width: 13px;
    max-height: 14px;
}
/* Pricing */
.pricing {
    background: linear-gradient(180deg, #F7FAFF 0%, #EBF4FF 100%);
}
.pricing__content {
    padding-top: 43px;
    position: relative;
    height: 100%;
    height: 368px;
}
.pricing__circle-1 {
    position: absolute;
    
    left: 9.2%;
    top: 29.55%;
    
    z-index: 1;
}
.pricing__circle-2 {
    position: absolute;
    bottom: 0;
    right: 42px;
    z-index: 1;
}
.pricing__title {
    
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #023135;
}
.choose__plan {
    margin-top: 42px;
    width: 100%;
    display: flex;
    
    justify-content: center;
    position: absolute;
    z-index: 10;
}
.choose__plan-item {
    margin: 0 16px;
    padding-bottom: 25px;
    width: 100%;
    max-width: 343px;
    
    padding-top: 33px;
    background: #FFFFFF;
    border: 1px solid #EBF4FF;
    box-sizing: border-box;
    box-shadow: 0px 2px 25px rgba(76, 106, 170, 0.22);
    border-radius: 20px;
    text-align: center;
}
.plan-list {
    margin: 20px 50px 40px;
    padding: 4px 0 2px 31px;
    list-style: none;
    text-align: left;
}
.plan__list-item {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #023135;
}
.plan__list-item:last-child {
    margin-bottom: 0;
}
.choose__plan-footer {
    display: flex;
    justify-content: center;
}
/* FAQ */
.faq {
   margin: 0 auto;
}
.faq__content {
    width: 100%;
    max-width: 440px;
    margin: 148px auto 100px;
}
.faq__block {
    width: 100%;
    margin: 0 auto;
}
.faq__title {
    margin-bottom: 36px;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #023135;
}
.faq__block-item {
    display: flex;
    margin-bottom: 24px;
}
.faq__block-item:last-child {
    margin-bottom: 0;
}
.faq__block-img {
    margin-right: 16px;
    width: 18px;
}
.faq__block-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #023135;
}
/* Footer */
.footer {
    height: 78px;
}
.footer__content {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo {
    position: relative;
    width: 67px;
    height: 30px;
    overflow: hidden; 
}
.logo__img-txt {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer__nav-link {
    margin-left: 26px;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: #023135;
    text-decoration: none;
    transition: opacity .2s liner;
}
.footer__nav-link:hover {
    text-decoration: underline;
    opacity: 0.7;
}

@media (max-width: 1070px) {
    /* Intro */
    .intro__title {
        font-size: 42px;
    }
    /* btn */
    .btn--sm {
        margin-right: 14px;
        margin-bottom: 10px;
    }
    /* Itworks */
    .itworks__header {
        margin-bottom: 50px;
    }
}
@media (max-width: 937px) {
    /* Intro */
    .intro__title {
        font-size: 36px;
    }
    .intro__info {
        margin: 0 25px 80px 0;
    }
    .intro__title {
        margin: 40px 11px 21px 0;
    }
    /* btn */
    .btn {
        font-size: 14px;
        padding: 10px 30px;
    }
    .btn--sm {
        line-height: 1;
    }
    /* Itworks */
    .itwroks__block-text1,
    .itworks__block-text3,
    .itwroks__block-text2 {
        line-height: 18px;
    }
    .itworks__block--1:after {
        display: none;
    }
    .itworks__block--2:after {
        display: none;
    }
    .itworks__block--3:after {
        display: none;
    }
}
@media (max-width: 797px) {
    /* Intro */
    .intro__title {
        font-size: 34px;
    }
    /* itworks */
    .itworks__content-title {
        font-size: 28px;
    }
    .itworks__content-main {
        position: relative;
        
    }
    .itworks__col-right {
        position: absolute;
        right: 0;
    }
    .itworks__col-left {
        position: absolute;
        right: 0;
    }
    .itworks__block--1 {
        margin-top: 40px;
        margin-bottom: 208px;
    }
    .itworks__block--2 {
        margin-top: 245px;
    }
    .itworks__block--3 {
        margin-left: 0;
    }
    .itworks__footer-content {
        padding: 0;
        margin-bottom: 60px;
    }
    .itworks__footer-block {
        max-width: 100%;
        margin: 0 auto 10px;
    }
    .itworks__footer-photo {
        margin-bottom: 10px;
    }
    /* Section */
    .section__subtitle-text {
        font-size: 24px;
    }
    .check__mark-item {
        width: 100%;
        margin-left: 104px;
    }
    /* benefits  */
    .benefits__content {
        margin: 30px 0 80px;
    }
    .benefits__content-title {
        font-size: 28px;
    }
    .benefits__video-play {
        width: 36px;
        height: 36px;
    }
    /* Btn */
    .btn--wide {
        max-width: 216px;
        margin: 0 auto;
    }
    /* Pricing */
    .plan-list {
        padding: 0;
        margin: 20px 0 40px;
        text-align: center;
    }
}
@media (max-width: 668px) {
    .container {
        padding: 0 2px;
    }
    /*  Header  */
    .nav__link {
        margin-left: 30px;
    }
    /* Intro */
    .intro__content {
        text-align: center;
    }
    .intro__info-btn {
        display: flex;
        justify-content: center;
    }
    .intro__info {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 60px;
        /* text-align: center; */
    }
    .intro__title {
        margin: 40px 0 21px;
    }
    .intro__photo {
        display: none;
    }
    /* Btn */
    .btn--sm {
        width: 100%;
        max-width: 300px;
        margin: 0 0 10px;
    }
    /* Itworks */
    .itworks__nav{
        justify-content: center;
    }
    .itworks__content-title {
        padding: 0;
        font-size: 26px;
        margin-bottom: 40px;
    }
    .itworks__content-main {
        margin-bottom: 40px;
    }
    .itworks__col-right {
        position: absolute; 
        max-width: 100%;
    }
    .itworks__col-left {
        position: inherit;
        width: 100%;
    }
    .itworks__block--1 {
        margin: 0 auto 230px;
    }
    .itworks__block--2 {
        margin: 215px auto 0;
    }
    .itworks__block--3 {
        margin: 0 auto;
    }
    /* Device */
    .device {
        display: none;
    }
    /* Section */
    .section__title {
        margin-top: 30px;
        font-size: 25px;
    }
    .section__subtitle {
        margin: 0 0 45px;
        display: flex;
        
    }
    .section__subtitle-text {
        font-size: 16px;
        line-height: 35px;
        width: 33.33333%;
    }
    .check__mark-content {
        width: 100%;
    }
    .check__mark-item {
        margin: 0 auto;
    }
    /* Benefits */
    .benefits__video-play {
        width: 100%;
        height: 100%;
        max-width: 30px;
        max-height: 30px;
        
    }
    .btn--wide {
        max-width: 160px;
    }
    /* Pricing */
    .choose__plan {
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .choose__plan-item:first-child {
        margin-bottom: 20px;
    }
    /* FAQ */
    .faq__content {
        margin-top: 448px;
    }

}
@media (max-width: 375px) {
    .check__mark-content {
        margin: 0;
    }
    .benefits__video-play {
        top: 29.3%;
        left: 33.9%;
    }
    .nav__link {
        margin: 0;
    }
    .footer__nav{ 
        width: 70%;   
    }
    .footer__nav-link {
        margin: 0;
    }
}